/.bundle
/node_modules
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history

/.ssh

/config/application.yml
/config/database.yml
/config/secrets.yml
db/sphinx/development/*
log/*

tmp/cache/*
tmp/pids/*
tmp/sockets/*
tmp/.DS_Store
yarn.lock
package.json
