<div align="center" class="search-btn">
  <button type="button" class="btn btn-info" data-toggle="modal"
          data-target="#searchIdeas">
    Search Ideas
  </button>
</div>

<div class="modal fade" id="searchIdeas">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h3 align="center"><strong>Search for Ideas</strong></h3>
      </div>
      <div class="modal-body">
        <%= search_form_for @search, url: { action: action } do |f| %>
          <div class="form-group">
            <%= f.label :text_cont, "Text Contains:" %>
            <%= f.text_field :text_cont %>
          </div>
          <div class="actions">
            <%= f.submit "Search", class: 'btn btn-md btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>