<div class="row">
  <div class="well col-md-offset-1 col-md-10">
    <h1 align="center" class="margin-bottom">New Idea</h1>
    <%= render 'form', idea: @idea %>
    
    <div class='row' align='center'>
      <button class='button btn-md btn-warning' id ='new_idea_intro_btn'>Need Help?</button>
    </div>
    
  </div>
</div>