<% if comment.id.present? %>
  <p>
  	<strong>From:</strong>
  	<%= @idea.anonymous_comments? ? 'Anonymous' : comment.user.full_name %>
  </p>

  <p>
  	<strong>Comment:</strong>
  	<%= comment.body %>
  </p>

  <div align="center" class="row comment-actions">
    <% if can? :destroy, comment %>
      <%= link_to "Delete Comment", [comment.idea, comment],
                                    method: :delete,
                                    class: "btn btn-xs btn-danger" %>
    <% end %>
  </div>
<% end %>

