<% if comment.id.present? %>
  <%# Wrapping bubble %>
  <div class="row">
    <div class="bubble trix-body <%= 'yours' if comment.user == current_user %>">
      <%# Comment text %>
      <%= comment.body.html_safe %>
    
      <small> 
        <% if !@idea.anonymous_comments? %>
          <strong>
            <%# Display commenter name (or email) %>
            <%= comment.user.full_name %>,
          </strong>
        <% end %>
        <%= time_ago_in_words(comment.created_at) %> ago.
        
      </small>
    </div>
  </div>

<% end %>
