<% if comment.id.present? %>
  <tr>
    <td>
      <%# Comment text %>
      <%= comment.body %>
      
      <%# Commenter name/email, if not anonymous %>
      <% if !@idea.anonymous_comments? %>
        <small> - 
          <strong>
            <%= comment.user.full_name.present? ?                                               comment.user.full_name : comment.user.email %>
          </strong>
        </small>
      <% end %>
    </td>
    <%# Delete button %>
    <% if can? :destroy, comment %>
      <td>
        <div class="row">
            <%= link_to "Delete", [comment.idea, comment],
                                  method: :delete,
                                  class: "btn btn-xs btn-danger" %>
        </div>
      </td>
    <% end %>
  </tr>
  
<% end %>

