<% if comment.id.present? %>
  <tr>
    <% if @idea.anonymous_comments? %>
        
                                            
    <% end %>
    <td>
      <%= comment.body %>
      <% if !@idea.anonymous_comments? %>
        <small> - 
          <strong>
            <%= comment.user.full_name.present? ?                                               comment.user.full_name : comment.user.email %>
          </strong>
        </small>
      <% end %>
    </td>
    <% if can? :destroy, comment %>
      <td>
        <div class="row">
            <%= link_to "Delete", [comment.idea, comment],
                                          method: :delete,
                                          class: "btn btn-xs btn-danger" %>
        </div>
      </td>
    <% end %>
  </tr>
  
<% end %>

