<h4 align="center">Add a comment:</h4>
<%= form_for([@idea, @idea.comments.build]) do |f| %>
  <div class="form-group">
    <p class="col-md-10 col-md-offset-1">
			<%= f.trix_editor :body %>
    </p>
    <p>
		<%= f.submit class: 'btn btn-md btn-primary' %>
    </p>
  </div>
<% end %>

