<h1 align="center"><%= current_user.first_name %>'s Area</h1>
<div class = "container">
  <div class ="container col-md-6"> <%#Subscriptions%>
    <div class="userArea-scroller">
      <div class = "row well">
        <%= render 'friends/subscriptions' %>
      </div>
    </div>
  </div>


  <div class = "container col-md-6"><%#My Ideas%>
    <div class="userArea-scroller">
      <div class = "row well">
        <h4>My Ideas</h4>
        <%= render 'ideas/idea', obj: @user.ideas %>	
      </div>
    </div>
  </div>
</div>
