<div class="col-md-12">
  <h1 align="center"><%= current_user.full_name %>'s Area</h1>

  <%# Left side %>
  <div class="col-md-6">
    <%# My Recent Ideas %>
    <%= render 'ideas/recent_ideas', obj: @recent_ideas %>	
    <%# Subscriptions %>
    <%= render 'friends/compact_subscriptions' %>
  </div>

  <%# Right Side %>
  <div class="col-md-6">
    <%# Recently Commented on Ideas %>
    <%= render 'ideas/commented_ideas', obj: @commented_ideas %>	
  </div>
</div>
