<div class="container col-md-offset-1 col-md-10">
  <h1 align="center">My Ideas</h1>
  
  <% if @user.ideas %>
    <% @user.ideas.each do |idea| %>
      <div class="row well col-md-6 col-md-offset-3">
        <p class="idea-text">
          <%= idea.text %>
        </p>
        <div align="center" class="idea-actions">
          <%= link_to "Edit Idea", edit_idea_path(idea), class: "btn btn-md btn-warning" %>
          <%= link_to "Delete Idea", edit_idea_path(idea), method: :delete, class: "btn btn-md btn-danger" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>
      You have no ideas!
    </p>
  <% end %>
  
</div>

