<div class="container col-md-offset-1 col-md-10">
  <h1 align="center">My Ideas</h1>
  
  <% if @user.ideas.any? %>
		<%= render '/ideas/search', obj: @ideas %>
    <%= render 'ideas/idea', obj: @user.ideas %>		
  <% else %>
    <p align="center">
      You have no ideas!
    </p>
  <% end %>
  
</div>

