/* Home Page */

/* Site-wide */

body {
  background-color: lighten(#3071A9, 50%) !important;
  margin: 0px !important;
}

h3 {
  margin-top: 0px;
}

.btn-default {
  //background-color: #C2D9EE;
}

.row {
  .row-comment {
    margin: 0px;
  }
}
/* Navbar */

.navbar-default {
    background-color: lighten(#3071A9, 30%);
}

.navbar-default .navbar-nav > li > a {
    color: #444;
}

#logo {
  color: #555;
  letter-spacing: 0px;
  font-weight: bold;
}

a.dropdown-toggle {
  &:hover {
    color: #333;
    background-color: transparent !important;
  }
  &:focus {
    color: #333;
    background-color: transparent !important;
  }
  &:active {
    color: #333;
    background-color: transparent !important;
  }
}

.dropdown {
  margin-top: 5px;
}

.user-name {
  margin-top: 15px;
}
.logout {
  margin-top: 4px;
}

/* Ideas */

.core-details {
  padding-right: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #AAA;
  font-size: 1.1em;
}

.body-and-options {
  position: relative;
}

.dropdown-chevron {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 0px;
}

.idea-scroller {
  overflow: auto;
  max-height: 250px;
  border-top: 1px solid white;
  padding: 7px 0px;
  border-bottom: 1px solid white;
}

.side-margins {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.trix-body {
  color: #333;
  font-size: 13.5px;
  h1 {
    font-size: 1.9em;
    margin: 0px 0px 10px 0px;
  }
  blockquote {
    font-size: 1.15em;
    padding: 10px;
    margin: 5px 0px;
  }
  li {
    font-size: 1em;
  }
}

.trix-comment {
  font-size: 13px;
}

.idea-details {
  margin: 0px 0px 10px 0px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  padding: 5px 0px;
}

.idea-actions {
  padding-top: 10px;
}

/* Forms */

.actions {
  margin-top: 10px;
  margin-bottom: 0px !important;
}

/* Comments */

.bubble {
  position: relative;
  float: left;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0px 15px 10px 15px;
  width: 75%;
  background-color: #C2D9EE;
  border: 1px solid darken(#C2D9EE, 10%);
}

.yours {
  float: right;
  background-color: #DFF0D8;
  border: 1px solid darken(#DFF0D8, 15%);
  padding-right: 27px;
}

.delete-comment-button {
  position: absolute;
  top: 0px;
  right: 5px;
}

.comment-scroller {
  overflow: auto;
  max-height: 300px;
  border-top: 1px solid #CCC;
  padding-top: 5px;
  border-bottom: 1px solid #CCC;
  //box-shadow: 0px 1px 5px #888;
}

/* Footer */

footer {
  color: #777;
  margin: 10px 0px;
  border-top: 1px solid #777;
  .footer-text {
    margin-top: 10px;
  }
}