/*------------------------------------*\
  #SITEWIDE
\*------------------------------------*/

body {
  background-color: darken(#E1EDF7,3%) !important;
  margin: 0px !important;
}

.subtitle {
  text-align: center;
  margin: 5px 0px 10px 0px;
  font-size: 16px;
  color: #777;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h5 {
  margin-top: 0px;
}

.row {
  .row-comment {
    margin: 0px;
  }
}

table.table {
  margin-bottom: 5px;
}

.margin-bottom {
  margin-bottom: 10px !important;
}

.border-left {
  border-left: 1px solid #CCC;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 10px !important;
}

.no-margin {
  margin: 0px !important;
}

.green {
  color: green;
}

.red {
  color: darken(red, 10%);
}

/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.navbar-default {
  background-color: #92BCE0;
}

.navbar-default .navbar-nav > li > a {
  color: #444;
}

#logo {
  color: #555;
  letter-spacing: 0px;
  font-weight: bold;
}

a.dropdown-toggle {
  color: #555;
  &:hover {
    color: #333;
    background-color: transparent !important;
  }
  &:focus {
    color: #333;
    background-color: transparent !important;
  }
  &:active {
    color: #333;
    background-color: transparent !important;
  }
}

.user-dropdown {
  margin-top: 5px;
}

.user-name {
  margin-top: 15px;
}
.logout {
  margin-top: 4px;
}

/*------------------------------------*\
  #IDEAS
\*------------------------------------*/

.idea-well {
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.core-details {
  padding-right: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #AAA;
  font-size: 1.1em;
}

.dropdown-chevron {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 0px;
}

.alert-text {
  position: relative;
  color: #269ABC;
  font-weight: bold;
  text-align: center;
  margin-top: -10px;
  padding-bottom: 5px;
}

.line {
  border-bottom: 1px solid #AAAAAA;
}

.idea-scroller {
  overflow: auto;
  max-height: 250px;
  background-color: #EEE;
  border-top: 1px solid white;
  padding: 7px 20px;
  border-bottom: 1px solid white;
}

.side-margins {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.trix-body {
  color: #333;
  font-size: 15px;

  h1 {
    font-size: 1.6em;
    margin: 0px 0px 10px 0px;
  }

  blockquote {
    font-size: 1em;
    padding: 10px;
    margin: 5px 0px;
  }

  li {
    font-size: 15px;
  }
}

.trix-comment {
  font-size: 14px;
}

.idea-details {
  margin: 0px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  padding: 5px 0px;
}

.modal-btn-group {
  margin-top: 10px;
}

.advanced-stats {
  font-size: 14px;
  padding: 0px 20px;
}

.stat-group {
  padding-bottom: 7px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 7px;
}

/*------------------------------------*\
  #VOTES
\*------------------------------------*/

.vote-form-group {
  margin-bottom: 0px !important;
}

/*------------------------------------*\
  #FORMS
\*------------------------------------*/

.form-group {
  margin-bottom: 15px;
}

.form-check {
  margin-bottom: 15px;
}

.actions {
  margin-bottom: 0px !important;
}

.user-options-heading {
  margin-top: 14px;
  border-top: 1px solid #CCC;
  padding-top: 10px;
}

/*------------------------------------*\
  #COMMENTS
\*------------------------------------*/

.create-comment-btn {
  margin-top: 10px;
}

.bubble {
  position: relative;
  float: left;
  padding: 5px 10px;
  border-radius: 10px 0px;
  margin: 0px 15px 10px 15px;
  width: 75%;
  background-color: lighten(#31B0D5, 35%);
  border: 1px solid lighten(#31B0D5, 10%);
}

.bubble-yours {
  float: right;
  background-color: lighten(#3071A9, 40%);
  border: 1px solid lighten(#3071A9, 20%);
  padding-right: 30px;
  border-radius: 0px 10px;
}

.comment-menu-btn {
  position: absolute;
  top: -2px;
  right: 2px;
}

.comment-sub-text {
  margin-top: 4px;
  border-top: 1px solid lighten(#31B0D5, 10%);
}

.sub-text-yours {
  border-top: 1px solid lighten(#3071A9, 20%);
}

.comment-scroller {
  background-color: #EEE;
  overflow: auto;
  //min-height: 110px;
  max-height: 350px;
  margin-top: 10px;
  border-top: 1px solid #CCC;
  padding-top: 10px;
  border-bottom: 1px solid #CCC;
}

/*------------------------------------*\
  #MODALS
\*------------------------------------*/

.modal-header {
  padding: 15px 15px 10px 15px;
}

.modal-title {
  line-height: 1;
}

.modal-btn {
  margin-bottom: 0px;
}

/*------------------------------------*\
  #SUBSCRIBERS
\*------------------------------------*/

table.results-block {
  width: 100%;
  margin-bottom: 15px;
}

/*------------------------------------*\
  #MY_AREA
\*------------------------------------*/

.my-area-scroller {
  overflow: auto;
  max-height: 350px;
  border-top: 2px solid #BBB;
  border-bottom: 2px solid #BBB;
  margin-bottom: 20px !important;
}

table.text-center th {
  text-align: center;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
  position: relative;
  color: #777;
  margin: 10px 0px;
  border-top: 1px solid #777;
  
  .footer-text {
    margin-top: 10px;
  }
}