/* Home Page */


/* Site-wide */

body {
  background-color: lighten(#3071A9, 50%) !important;
  margin: 0px !important;
}

.btn-warning {
  color: #EEE !important;
}

.btn-danger {
  color: #EEE !important;
}

/* Navbar */

.navbar-default {
    background-color: lighten(#3071A9, 30%);
}

.navbar-default .navbar-nav > li > a {
    color: #444;
}

#logo {
  color: #555;
  letter-spacing: 0px;
  font-weight: bold;
}

a.dropdown-toggle {
  &:hover {
    color: #333;
    background-color: transparent !important;
  }
  &:focus {
    color: #333;
    background-color: transparent !important;
  }
  &:active {
    color: #333;
    background-color: transparent !important;
  }
}

.dropdown {
  margin-top: 5px;
}

.user-name {
  margin-top: 15px;
}
.logout {
  margin-top: 4px;
}

/* Ideas */

.body-and-options {
  //margin-top: 10px;
  position: relative;
}

.top-right {
  position: absolute;
  top: 0px;
  right: -5px;
  margin-top: 0px;
}

.add-side-margins {
  margin-right: 25px !important;
  margin-left: 25px !important;
}

.idea-body {
  color: #444;
  font-size: 13px;
  h1 {
    font-size: 1.9em;
    margin: 0px 0px 15px 0px;
  }
  blockquote {
    font-size: 1.15em;
  }
  li {
    font-size: 1em;
  }
}

.idea-details {
  margin: 10px 0px 10px 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 5px 0px;
}

.idea-actions {
  padding-top: 10px;
}

/* Votes */

.table {
  margin-bottom: 10px;
}

/* Forms */

.actions {
  margin-top: 10px;
  margin-bottom: 0px !important;
}

/* Footer */

footer {
  color: #777;
  margin: 20px 0px;
  border-top: 1px solid #777;
  .footer-text {
    margin-top: 10px;
  }
}

/* For first and last names */

.no-padding {
	padding: 0 !important;
}

.left-padding {
	padding-left: 15px !important;
}

/* Comments */

.comment-text {
	font-size: 1.5em;
	margin: 1px;
	border-top: 1px solid #777;	
}

.comment-actions {
  margin-top: 5px;
	border-bottom: 1px solid;
  padding-top: 10px;
	padding-bottom: 10px;
}

.comments-container {
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.scroller {
	overflow: auto;
  max-height: 360px;
}

.success-comment {
	text-align: right;
}