/* Site-wide */

body {
  background-color: lighten(#3071A9, 50%) !important;
  margin: 0px !important;
}

.btn-warning {
  color: #EEE !important;
}

.btn-danger {
  color: #EEE !important;
}

/* Navbar */

.navbar-default {
    background-color: lighten(#3071A9, 30%);
}

.navbar-default .navbar-nav > li > a {
    color: #444;
}

#logo {
  color: #555;
  letter-spacing: 0px;
  font-weight: bold;
}

li.dropdown {
  margin-top: 5px;
}

.user-name {
  margin-top: 15px;
}
.logout {
  margin-top: 4px;
}

/* Home Page */


/* Ideas */

.idea-text {
  font-size: 1.5em;
  margin: 5px;
}

.idea-details {
  margin: 10px 0px 0px 0px;
  border-top: 1px solid;
  padding-top: 5px;
}

.idea-actions {
  margin-top: 5px;
  border-top: 1px solid;
  padding-top: 10px;
}

/* Footer */

footer {
  color: #777;
  margin-top: 20px;
  border-top: 1px solid #777;
  .footer-text {
    margin-top: 10px;
  }
}
/* For first & last names*/
.no-padding {
	padding: 0 !important;
	
}
.left-padding {
	padding-left: 15px !important;
}