/* Site-wide */

body {
  background-color: lighten(#3071A9, 50%) !important;
  margin: 0px !important;
}

.btn-warning {
  color: #EEE !important;
}

.btn-danger {
  color: #EEE !important;
}

/* Navbar */

.navbar-default {
    background-color: lighten(#3071A9, 30%);
}

.navbar-default .navbar-nav > li > a {
    color: #444;
}

#logo {
  color: #555;
  letter-spacing: 0px;
  font-weight: bold;
}

a.dropdown-toggle {
  &:hover {
    color: #333;
    background-color: transparent !important;
  }
}

li.dropdown {
  margin-top: 5px;
}

.user-name {
  margin-top: 15px;
}
.logout {
  margin-top: 4px;
}

/* Home Page */


/* Ideas */

.idea-text {
  font-size: 1.5em;
  margin: 5px;
  line-height: 1.3;
}

.idea-details {
  margin: 10px 0px 0px 0px;
  border-top: 1px solid;
  padding-top: 5px;
}

.idea-actions {
  margin-top: 5px;
  border-top: 1px solid;
  padding-top: 10px;
}

/* Footer */

footer {
  color: #777;
  margin-top: 20px;
  border-top: 1px solid #777;
  .footer-text {
    margin-top: 10px;
  }
}
/* For first & last names*/
.no-padding {
	padding: 0 !important;
	
}
.left-padding {
	padding-left: 15px !important;
}

/* Comments */

.comment-text {
	font-size: 1.5em;
	margin: 1px;
	border-top: 1px solid #777;	
}

.delete-comment {
	border-bottom: 1px solid #777;
	padding-bottom: 10px;
}

.comments-container {
	display: inline-block;
	vertical-align: middle;
	float: none;

}

.comments-input {
	display: inline-block;
	vertical-align: middle;
	float: none;

}

.scroller{

	overflow: auto;
	float: left;

	max-height: 300px;
}

/* Votes */
.voting {
	display: inline-block;
	vertical-align: right;
	float: right;
	clear: none;
}