<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="well">
          <h1 align="center">Activities</h1>
          <h6 align="center">Viewing <%= @activities.count %> activities.</h4>
        </div>
        <%# Activities %>
        <% if @activities.any? %>
          <%= render_activities @activities %>
          <%= will_paginate %>  
        <% else %>
          <div class="well subtitle no-margin">No results!</div>
        <% end %>
      </div>
    </div>
  </div>
</div>


