<h5 align="center">- Voter Details -</h5>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Vote</th>
  </tr>
  <% @idea.votes.each do |vote| %>
    <tr>
      <td><%= vote.user.full_name %></td>
      <td>
        <% if @idea.voting_style == 'Binary' %>
          <% if vote.value == 1 %>
            <i class="fa fa-thumbs-up fa-lg" aria-hidden="true">
          <% else %>
            <i class="fa fa-thumbs-down fa-lg" aria-hidden="true">
          <% end %>
        <% else %>
          <%= vote.value %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
