<% if @idea.votes.any? %>
  <%# Display votes trends %>
  <%= render 'votes/trends' %>
  
  <%# If votes aren't anonymous, reveal them %>
  <% if @idea.reveal_voter_details? %>
    <br>
    <%= render 'votes/details' %>
  <% end %>
  
<% else %>
  <%# There are no votes yet %>
  <p class="text-center">
    There are no votes to show. Be the first to vote!
  </p>
<% end %>