<h5 align="center">[ Voting has closed for this idea ]</h5>
<h4 align="center">Voting Stats</h4>

<% if @idea.reveal_current_votes? || @idea.closed? || @idea.user == current_user %>

  <% if @idea.votes.any? %>
    <%# Display votes trends %>
    <%= render 'votes/trends' %>
    
    <%# If votes aren't anonymous %>
    <% if !@idea.reveal_voter_details? %>
      <br>
      <%= render 'votes/details' %>
    <% end %>
    
  <% else %>
    <%# There are no votes yet %>
    <p class="text-center">
      There are no votes to show.
    </p>
  <% end %>
  
<% else %>
  <%# Votes are hidden %>
  <p class="text-center">
    [ Votes are currently hidden for this idea ]
  </p>
<% end %>
