<h4 align="center">Voting Stats</h4>

<% if @idea.show_votes? || @idea.user == current_user %>

  <% if @idea.votes.any? %>
    <%# Display votes %>
    
    <%= render 'votes/trends' %>
    <br>
    <%= render 'votes/details' %>
    
  <% else %>
    <%# There are no votes yet %>
    <p class="text-center">
      No votes! Please vote on this idea.
    </p>
  <% end %>
  
<% else %>
  <%# Votes are hidden %>
  <p class="text-center">
    [ Votes are hidden for this idea ]
  </p>
<% end %>
